@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

#header{
    background: rgb(99, 71, 117) !important;
}

#site-name a {
    color : rgb(236, 236, 236) !important;
    font-family: 'Lobster', cursive;
}

caption{
    background: rgb(26, 1, 37) !important;
}

.breadcrumbs{
    background: rgb(42, 27, 51) !important;
}

#user-tools a:hover{
    color : black !important;
}

#user-tools a:visited{
    color : black !important;
}


.object-tools li .addlink:hover{
    background: rgb(99, 71, 117)  !important;
}

.object-tools li .addlink:visited{
    background: rgb(99, 71, 117)  !important;
}

.actionlist .addlink a:hover {
    color: black !important;
}

.actionlist .addlink a:visited{
    color : black !important;
}

.module table tbody tr th a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.module table tbody tr td a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: bold;
    color: rgb(99, 71, 117) !important;
}

.submit-row input[type="submit"]{
    font-family: 'Roboto', sans-serif;
    background: rgb(99, 71, 117)  !important;
}

.deletelink{
    font-family: 'Roboto', sans-serif;
    background: rgb(122, 7, 7) !important;
}

