{% extends "admin/base.html" %}

{% load staticfiles %}



{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}" />{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'favicon.png' %}" height="40px" />
        Diamond Tints Shop
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}